.outerContainer {
  color: white;
  position: relative;
  width: 100%;
  height: 6rem;
  border-radius: 45px;
  background-color: #0096c7;
  display: flex;
  justify-content: center;
}

.innerContainer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.titleContainer {
  display: inline-flex;
  width: 13rem;
}
.titleContainer > p {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  width: 100%;
}

.ideaContainer {
  display: inline-flex;
}
.ideaContainer > p {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 200;
  margin: 0;
  height: 100%;
  align-self: center;
}

.buttonContainer {
  display: inline-flex;
  width: 13rem;
  height: 3rem;
}

@media all and (max-width: 1024px) {
  .innerContainer {
    justify-content: space-around;
  }

  .titleContainer {
    width: auto;
  }

  .ideaContainer {
    display: none;
  }

  .buttonContainer {
    width: 10rem;
  }
}
@media all and (max-width: 768px) {
  .outerContainer {
    background-color: transparent;
  }

  .innerContainer {
    justify-content: center;
  }

  .titleContainer {
    display: none;
  }
  
  .buttonContainer {
    width: 70%;
  }
}
@media all and (max-width: 480px) {
  .outerContainer {
    height: 5rem;
  }
  .buttonContainer {
    width: 100%;
  }
}
