.hamburgerMenu {
  width: 2.5rem;
  height: 2rem;
  display: none;
  justify-content: space-between;
  flex-direction: column;
}

.line {
  width: 100%;
  height: 0.25rem;
  background-color: #ffffff;
  border-radius: 20px;

}

@media all and (max-width: 1024px) {
  .hamburgerMenu {
    display: inline-flex;
  }
}
