div {
  height: 100%;
}
.navbarContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: #0096c7;
  vertical-align: middle;
  width: 100%;
  z-index: 10;
}

.navbarInnerContainer {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
}

.navbarHome {
  background-color: transparent;
  justify-content: center;
}

.navbarInnerContainerHome {
  width: 80%;
}

.myName, a {
  display: inline-flex;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  opacity: 100%;
    text-decoration: none;

}
.myName, a:hover,
a:active,
a.active {
  opacity: 100%;
}
.myNameContainer {
  width: 20%;
  display: inline-flex;
  align-items: center;
}
.navbarItems {
  width: 80%;
  display: inline-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hide {
  display: none;
}

@media all and (max-width: 1024px) {
  .navbarInnerContainer {
    justify-content: space-between;
  }
  .navbarItems {
    display: none;
  }
  .myName {
    font-size: 1.75rem;
  }
  .navbarInnerContainerHome {
    justify-content: flex-end;
    width: 90%;
  }

  .navbarHome {
    justify-content: center;
  }
}
@media all and (max-width: 768px) {
  .navbarHome {
    background-color: #0096c7;
  }
}

@media all and (max-width: 480px) {
  .myName {
    font-size: 1.5rem;
  }
  .navbarInnerContainerHome {
    width: 90%;
  }
}
