
.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: #0096c7 ;
  vertical-align: middle;
  width: 100%;
}
.navbarInnerContainer {
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  width: 100%;
}
.myName {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}
.myNameContainer {
  width: 10%;
  display: inline-block;
  margin: 0 0 0 3%;
}
