.arrow {
  align-self: center;
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  border-top: 3px solid #0096c7;
  border-right: 3px solid #0096c7;
  border-radius: 2px;
}
.arrowLeft {
  transform: rotate(-135deg);
}
.arrowRight {
  transform: rotate(45deg);
}
.arrowCont{
  display: flex;
  align-self: center;
  border: 1px #3a3a3a solid;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}