

.sectionContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contactFormContainer{
  display: flex;
  width: 75%;
  flex-direction: row;
}