.section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.section > div {
  width: 75%;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}
.e404Text {
  color: #0096c7;
  font-size: 12.5rem;
  font-weight: bold;
  margin: 0;
  margin-top: 2rem;
}
.helperText {
  font-size: 4.5rem;
  text-align: center;
  margin: 0;
  margin-bottom: 3rem;
}
.section > div > p{
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

@media all and (max-width: 1024px) {
  .e404Text{
    font-size: 8rem;
  }
  .helperText{
    font-size: 3rem;
  }
  .section > div > p{
    font-size: 1.5rem;
  }
}

@media all and (max-width: 480px) {
   .e404Text{
    font-size: 5rem;
  }
  .helperText{
    font-size: 2rem;
  }
  .section > div > p{
    font-size: 1rem;
  }
}
.message >
a {
  color: #727272;
}

.message > a:hover,
.message > a:active,
.message > a.active {
  color: #0096c7;
}