
.outerContainer{
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner{
  width: 75%;
  position: relative;
  bottom: -2.5rem;
}

.container {
  width: 100%;
  height: 10rem;
  /* height: 7.5rem; */
  background-color: #2e2e2e;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.container > div {
  display: inline-flex;
  align-items: center;
}

.container > div > p {
  font-family: "Poppins";
  font-size: 1rem;
  color: #ffffff;
}
@media all and (max-width:768px) {
  .banner{
  bottom: -3rem;
}
}

@media all and (max-width:480px) {
  .banner{
  bottom: -2.5rem;
}
}