.navItem >
a {
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  opacity: 70%;
}

.navItem > a:hover,
.navItem > a:active,
.navItem > a.active {
  opacity: 100%;
}

@media all and (max-width:768px)
{
  .navItem >
a {
  font-size: 2.2rem;
}
}
