.section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.section > div {
  margin-top: 5rem;
  width: 75%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media all and (max-width: 1024px)
{
  .section > div{
    margin-top: 1.75rem;
  }
}
@media all and (max-width:480px) {
  .section > div{
    margin-top: 1rem;
  }
}